[project]
name = "asgi-matomo"
version = "0.5.0"
description = "Middleware for tracking ASGI requests with Matomo"
authors = [
    { name = "Kristoffer Andersson", email = "kristoffer.andersson@gu.se" },
]
license = "MIT"
readme = "README.md"
requires-python = ">= 3.10"
dependencies = ["asgiref>=3.6.0", "httpx>=0.24"]

[project.urls]
homepage = "https://spraakbanken.gu.se"
repository = "https://github.com/spraakbanken/asgi-matomo"
"Bug Tracker" = "https://github.com/spraakbanken/asgi-matomo/issues"

[project.optional-dependencies]
ci = ["ruff>=0.1.4"]
docs = [
    "mike>=2.0.0",
    "mkdocs>=1.5.3",
    "mkdocs-material>=9.4.8",
    "mdx-include>=1.4.2",
    "markdown>=3.5.1",
    "mkdocs-markdownextradata-plugin>=0.2.5",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = [
    "pytest>=7.4.3",
    "black>=23.10.1",
    "starlette>=0.32.0.post1",
    "pytest-asyncio>=0.21.1",
    "asgi-lifespan>=2.1.0",
    "mypy>=1.6.1",
    "pytest-cov>=4.1.0",
    "bump2version>=1.0.1",
]

[tool.hatch.metadata]
allow-direct-references = true
