[tool.poetry]
name = "asgi-matomo"
version = "0.4.1"
description = "Middleware for tracking ASGI reqeusts with Matomo"
authors = ["Kristoffer Andersson <kristoffer.andersson@gu.se>"]
license = "MIT"
readme = "README.md"
homepage = "https://spraakbanken.gu.se"
repository = "https://github.com/spraakbanken/asgi-matomo"
packages = [{include = "asgi_matomo"}]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/spraakbanken/asgi-matomo/issues"

[tool.poetry.dependencies]
python = "^3.10"
asgiref = "^3.6.0"
httpx = "^0.24.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
black = "^23.3.0"
starlette = "^0.27.0"
pytest-asyncio = "^0.21.0"
asgi-lifespan = "^2.1.0"
mypy = "^1.2.0"
pytest-cov = "^4.0.0"
bump2version = "^1.0.1"

[tool.poetry.group.ci.dependencies]
ruff = "0.0.277"



[tool.poetry.group.docs.dependencies]
mike = "^1.1.2"
mkdocs = "^1.4.3"
mkdocs-material = "<9.0.0"
mdx-include = "<2.0.0"
markdown = "<3.4"
mkdocs-markdownextradata-plugin = ">=0.1.7,<0.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
