line-length = 97

[lint]
select = ["A", "B", "BLE", "C4", "E", "I", "RUF", "S", "YTT"]

ignore = [
  "E501",
  "ANN001",
  "ANN101",
  "ANN102",
  "B008",
  "D203",
  "D213",
  "D104",
  "RUF100",
]


# Avoid trying to fix flake8-bugbear (`B`) violations.
unfixable = ["B"]

exclude = []

# Ignore `E402` (import violations) in all `__init__.py` files, and in `path/to/file.py`.
[lint.per-file-ignores]
"__init__.py" = ["E402"]
"tests/*" = ["S101"]
